<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Greeting</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/styles/main.css" rel="stylesheet" />
    <link th:href="@{/node_modules/bootstrap/dist/css/bootstrap.css}" rel="stylesheet" />
    <script th:src="@{/node_modules/jquery/dist/jquery.js}" type="text/javascript"></script>
    <!-- Add prototype < 1.7 to test OTel plugin patch -->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/prototype/1.6.0.3/prototype.js"></script>-->

    <script src="http://localhost:8080/boomerang/plugins/rt.js"></script>
    <script src="http://localhost:8080/boomerang/boomerang.js"></script>
    <script src="http://localhost:8080/boomerang/plugins/navtiming.js"></script>
    <script src="http://localhost:8080/boomerang/plugins/auto-xhr.js"></script>
    <script src="http://localhost:8080/boomerang/plugins/boomerang-opentelemetry.js"></script>
<!--    <script src="http://localhost:8000/boomerang-opentelemetry.dev.js"></script>-->

    <script>
        BOOMR.init({
            beacon_url: 'http://localhost:8080/beacon/',
            OpenTelemetry: {
                samplingRate: 1.0, // an optional sampling rate
                corsUrls: ['https://my.backend.com'],
                consoleOnly: false, // an optional flag whether spans should only be printed to the console
                plugins: {
                    instrument_fetch: true,
                    instrument_xhr: true,
                    instrument_document_load: true,
                    instrument_user_interaction: true
                },
                plugins_config: {
                    instrument_xhr: {
                        enabled: true,
                        path: "",
                        applyCustomAttributesOnSpan: (span, request) => {
                        }, //A method with the following structure: (span: Span, xhr: XMLHttpRequest) => { },
                        propagateTraceHeaderCorsUrls: [],
                        ignoreUrls: [],
                        clearTimingResources: false,
                    },
                    instrument_fetch: {
                        enabled: true,
                        path: "",
                        applyCustomAttributesOnSpan: (span, request) => {

                        },
                        propagateTraceHeaderCorsUrls: [],
                        ignoreUrls: [],
                        clearTimingResources: false
                    },
                    instrument_document_load: {
                        enabled: true,
                        recordTransaction: true
                    }
                },
                global_instrumentation: {
                    // Include request parameter to spans and the corresponding beacons
                    requestParameter: {
                        enabled: true,
                        excludeKeysFromBeacons: null //Keys, which should not be included in beacons, for instance due to cardinality concerns
                    }
                },
                exporter: {
                    maxQueueSize: 100,
                    maxExportBatchSize: 10,
                    scheduledDelayMillis: 500,
                    exportTimeoutMillis: 30000,
                },
                commonAttributes: {
                    pageName: "myTest"
                },
                serviceName: "frontend",
                prototypeExporterPatch: true,
                propagationHeader: "TRACE_CONTEXT" //"B3_MULTI", "B3_SINGLE", "TRACE_CONTEXT"
            }
        });
        console.info("plugin version: " + BOOMR.plugins.OpenTelemetry.version);
    </script>
</head>
<body>
<div class="navbar"><div style="width: 100%">

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="title-image-wrapper">
            <img class="title-image" src="/images/ocelot_head_sil_logo.svg"/>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav navbar-left">
                <li class="nav-item active">
                    <a class="navbar-item-white" href="/">Homepage <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="navbar-item-white" href="/configuration">HTML Editor</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-middle">
                <li class="nav-item active">
                    <a class="navbar-item-white" href="/greeting">Greeting</a>
                </li>
                <li class="nav-item active">
                    <a class="navbar-item-white" href="/formdata">Form Data</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item active">
                    <a class="navbar-item-white" href="/eum-editor">EUM Configuration</a>
                </li>
            </ul>
        </div>
    </nav>
</div></div>
<div>
    <div id="titleDiv" style="float:left; margin: 20px">
        <h1 >Hello, Ocelot!</h1>
        <p >Click the button to change the image color.</p>
        <div id="buttons">
            <button type="button" class="btn btn-primary" id="updateImage">Change Picture</button>
        </div>
    </div>
    <div id="imageDiv" style="float:left; margin: 20px">
        <img id="inspectITLogo" src="images/InspectIT_Ocelot.jpg" alt="inspectIT color">
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script id="updateImageScript">

    const OT = window.BOOMR.plugins.OpenTelemetry;

    $(function() {
        $("#updateImage").click(function(evt) {
            evt.preventDefault();
            OT.addVarToSpans("myUserID", getUserID());
            changePicture();
        });
    });

    function changePicture() {
        $.get( "/changePicture?alt=" + $(inspectITLogo).attr("alt"), function(data) {
            $('#inspectITLogo').attr("src", data.src).attr("alt", data.alt);
        });
    }
    function getUserID() {
        return "1234";
    }

</script>
</body>
</html>
